@import "global";
@import "mixin";
@import "variables";


.header{
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 999;
    background-color: $white-color;

    .container{
        box-shadow: 0 2px 4px $light-grey;

        .logo{
            color: $dark-pink;

            a{
                text-decoration: none;
                color: $dark-pink;
            }
        }

        .tab-panel{
            display: flex;
            height: 45px;
            box-shadow: 0px 0px 4px rgb(0 0 0 / 0%), 0px 1px 6px rgb(0 0 0 / 5%);
            background-color: $white-color;
            border: 1px solid $light-grey;
            border-radius: 32px;
            color: $light-black;
            margin: 0 auto;
            position: relative;
            align-items: center;
    
            .panel{
                padding-left: 15px;
                text-align: left;
                width: 120px;
    
                h4{
                    font-size: $medium-small-font;
                    line-height: 16px;
                    font-weight: 600;
                    letter-spacing: 0.5px;
                    text-transform: capitalize;
                }

                p{
                    @include medium-para;
                    line-height: 17px;
                    color: $medium-grey;
                }
    
                &:hover{
                    cursor: pointer;

                }
            }
    
            .division{
                display: block;
                width: 2px;
                background-color: $light-grey;
                height: 25px;
            }
    
            .search-btn{
                width: 35px;
                height: 35px;
                background-color: $dark-pink;
                border-radius: 50%;
                margin: 4px;
                color: $white-color;
                text-align: center;
    
                i{
                    padding-top: 8px;
                    font-size: 17px;
                }
            }
        }

        .sign-up-btn{
            .host{
                a{
                    color: $black-color;
                }
            }
        }
    }
}

.banner{
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 80px;

    .banner-left{
        width: 55%;
        height: auto;
        padding: 50px 24px 0;

        .bnr-lft-head{
            padding-bottom: 25px;
            border-bottom: 1px solid $light-grey;

            h2{
                @include main-heading;
                line-height: 50px;
            }
    
            .filter-group{
                padding: 15px 0 25px;

                ul{
                    li{
                        list-style: none;
                        display: inline-block;
                        padding: 8px 16px;
                        border: 1px solid $light-grey;
                        border-radius: 20px;
    
                        &:hover{
                            border-color: $black-color;
                            cursor: pointer;
                        }
                    }
                }
            }
    
            p{
                a{
                    margin-left: 4px;
                    color: $black-color;
                }
            }
        }

        a.place-box{
            display: flex;
            flex: 1;
            text-decoration: none;
            color: $black-color;
            border-bottom: 1px solid $light-grey;
            padding: 23px 0;

            .place-img{
                width: 520px;
                height: 200px;
                position: relative;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border: none;
                    border-radius: 10px;
                    position: relative;
                    z-index: -1;
                }
                .mark{
                    font-size: $extra-small-font;
                    font-weight: 500;
                    text-transform: uppercase;
                    position: absolute;
                    z-index: 11;
                    top: 10px;
                    left: 10px;
                    padding: 3px 10px;
                    background-color: $extra-light-grey;
                    border-radius: 5px;
                }

            }

            .place-info{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                margin-left: 15px;

                .place-location{
                    display: flex;
                    flex: 1;
                    justify-content: space-between;

                    
                    p{
                        color: $medium-grey;
                    }
                    h3{
                        font-size: $small-medium-font;
                        text-transform: capitalize;
                        line-height: 30px;
                        font-weight: 500;
                    }
                    
                    i{
                        font-size: $medium-font;
                    }
                }

                .bar{
                    width: 30px;
                    height: 1px;
                    background-color: $light-grey;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }

                p{
                    color: $medium-grey;
                }

                .reviews{
                    i{
                        color: $dark-pink;
                    }
                    span{
                        color: $medium-grey;
                    }
                }
            }
        }

        .place-footer{
            width: 100%;
            margin: 40px 32px 32px;

            nav{
                margin: 0 auto;
                text-align: center;
                
                ul{
                    list-style: none;

                    li{
                        display: inline-block;
                        
                        a{
                            font-size: $small-font;
                            text-decoration: none;
                            color: $black-color;
                            padding: 4px 8px;
                            margin: 0 10px;

                            &:hover{
                                background-color: $light-grey;
                                border: none;
                                border-radius: 50%;
                            }
                        }
                    }
                }

                p{
                    margin-top: 15px;
                }
            }
        }

        .foot-note{
            font-size: $extra-small-font;
            color: $medium-grey;
            text-align: center;
        }
    }

    .banner-right{
        width: 45%;
        height: calc(100vh - 80px);
        position: sticky;
        top: 80px;
    }
}


// <------- Media Queries ------->

@media screen and (max-width: 1240px) {

    .header{
        .container{
            .logo {
                width: 280px;
            }
        }
    }
}

@media screen and (max-width: 1150px) {

    .header{
        .container{
            padding: 0 65px;

            .logo {
                width: 240px;
            }
        }
    }
}

@media screen and (max-width: 1120px) {

    .header{
        .container{
            .logo {
                width: 200px;
            }
        }
    }

    .banner{
        .banner-left{
            width: 98%;
        }
        .banner-right {
            display: none;
        }
    }
}

@media screen and (max-width: 1045px) {

    .header{
        .container{
            padding: 0 55px;

            .logo {
                width: 155px;
            }
        }
    }
}

@media screen and (max-width: 1045px) {

    .header{
        .container{
            padding: 0 45px;
            
            .logo {
                width: 130px;
            }
        }
    }
}

@media screen and (max-width: 878px) {

    .header{
        .container{
            padding: 0 30px;

            .tab-panel{
                .panel {
                    width: 100px;
                }
            }
        }

    }
}

@media screen and (max-width: 782px) {

    .header{
        .container{
            .logo {
                width: 120px;
            }
        }
    }
}

@media screen and (max-width: 768px) {

    .header{
        .container{
            .tab-panel{
                .panel {
                    width: 90px;
                    padding: 14px 0 14px 14px;
                }
            }
        }
    }
}

@media screen and (max-width: 735px) {

    .header{
        background-color: transparent;

        .container{
            box-shadow: none;

            .logo {
                display: none;
            }

            .sign-up-btn{
                display: none;
            }
        }
    }

    .banner{
        flex-direction: column;
        padding: 0;

        .banner-left{
            position: relative;
            z-index: 2;
            order: 2;
        }

        .banner-right{
            display: block;
            width: 100%;
            height: 340px;
            order: 1;
            position: relative;
            z-index: 0;
            margin-bottom: 50px;
        }
    }
}

@media screen and (max-width: 615px) {
    
    .banner{
        .banner-left{
            .bnr-lft-head{
                #hide-text{
                    display: none;
                }
                .filter-group {
                    ul{
                        scroll-snap-type: x mandatory;
                        scroll-padding-left: 0;
                        overflow-x: auto;
                        white-space: nowrap;

                        &::-webkit-scrollbar{
                            display: none;
                        }

                        li{
                            scroll-snap-align: start;
                        }
                    }
                }
            }

            a.place-box {
                flex-direction: column;

                .place-img{
                    width: 100%;
                    height: 270px;
                }

                .place-info{
                    margin-top: 15px;
                    margin-left: 0;

                    .reviews{
                        margin-top: 30px;
                    }
                }
            }

            .place-footer {
                width: 100%;
                margin: 40px auto 32px;
            }
        }
    }
}

@media screen and (max-width: 470px) {

    .banner{
        .banner-left{
            .bnr-lft-head{
                h2 {
                    font-size: $medium-sm-font;
                    line-height: 32px;
                }

                .filter-group{
                    ul{
                        li {
                            padding: 5px 12px;
                            font-size: $medium-small-font;
                        }
                    }
                }
                p{
                    font-size: $medium-small-font;
                    line-height: 15px;
                }
            }

            .place-footer{
                nav{
                    ul{
                        li {
                            a {
                                margin: 0;
                            }
                        }
                    }

                    p{
                        font-size: $medium-small-font;
                    }
                }
            
            }

            .foot-note {
                font-size: $extra-smallest-font;
            }
        }
    }
}


@media screen and (max-width: 375px) {
    
    .banner{
        .banner-left{
            .bnr-lft-head{
                h2 {
                    font-size: $normal-medium-font;
                    line-height: 24px;
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {

    .header{
        .container{
            padding: 0 5px;

            .tab-panel{
                .panel{
                    h4 {
                        font-size: $extra-small-font;
                    }
                    p{
                        font-size: $medium-small-font;
                    }
                }

                .search-btn{
                    margin: 4px 3px 4px 0;
                }
            }
        }
    }
}