
//  <--- Colors -->
$white-color : #fff;
$black-color : #000;
$light-black : #222222;
$grey-color : #484848;
$medium-grey : #777;
$light-grey : #ddd;
$extra-light-grey: rgb(247, 247, 247);
$dark-pink : #FF385C;


// <--- Font Family -->
$Body-font : "Helvetica Neue", sans-serif;


// <--  Font Size -->
$extra-smallest-font: 10px;
$extra-small-font: 12px;
$medium-small-font: 13px;
$small-font: 14px;
$normal-small: 16px;
$small-medium-font: 18px;
$medium-font: 20px;
$normal-medium-font: 22px;
$medium-nm-font: 24px;
$medium-sm-font: 25px;
$medium-large-font: 26px;
$extra-normal-font: 28px;
$extra-medium-font: 30px;
$extra-large-medium-font: 32px;
$large-small-font: 35px;
$large-medium-sm-font: 40px;
$large-medium-font: 50px;
$large-lg-md-font: 52px;
$large-font: 60px;
$extra-large-font: 63px;
